<footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2022.  See source code at <a href="https://github.com/WebH3ll/myoungseok" target="_blank">Github</a> </span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Made by Kang Myoung Seok<i class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer>