<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/dashboard.php">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#tetris-basic" aria-expanded="false" aria-controls="tetris-basic">
        <i class="icon-bar-graph menu-icon"></i>
        <span class="menu-title">Tetris</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="tetris-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/games/tetris_js/index.php">Tetris</a></li>
          <li class="nav-item"> <a class="nav-link" href="/games/tetris_js/scoreboard.php">ScoreBoard</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#photo-basic" aria-expanded="false" aria-controls="photo-basic">
        <i class="icon-camera menu-icon"></i>
        <span class="menu-title">Photo</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="photo-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/photoboard.php">Photo Board</a></li>
          <li class="nav-item"> <a class="nav-link" href="/uploadphoto.php">Upload Photo</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#board-basic" aria-expanded="false" aria-controls="board-basic">
        <i class="icon-clipboard menu-icon"></i>
        <span class="menu-title">Board</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="board-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="/board.php">Board</a></li>
          <li class="nav-item"><a class="nav-link" href="/writeboard.php">Write Board</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#dns" aria-expanded="false" aria-controls="dns">
        <i class="icon-ribbon menu-icon"></i>
        <span class="menu-title">DNS</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="dns">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/dns.php">DNS</a></li>
          <li class="nav-item"> <a class="nav-link" href="/ping.php">PING</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
        <i class="icon-grid-2 menu-icon"></i>
        <span class="menu-title">PHP Examples </span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="tables">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/example.php">Include</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#pdf" aria-expanded="false" aria-controls="pdf">
        <i class="icon-paper-clip menu-icon"></i>
        <span class="menu-title">PDF</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="pdf">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/pdf.php?title=Puang1">PDF</a></li>
        </ul>
      </div>
    </li>

  </ul>
</nav>